@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

button {
  @apply outline-none border-none;
}

.max-width {
  @apply max-w-[1920px] mx-auto;
}

.social-icons {
  @apply shadow-lg shadow-gray-500 rounded-full bg-gray-100 hover:scale-105 duration-300;
}

.bottom-line {
  @apply relative;
}
.bottom-line::after {
  @apply content-[""] absolute h-[4px] w-0 bg-blue-500 left-0 bottom-0 duration-300;
}

.bottom-line:hover::after {
  @apply w-full;
}

.skills-container {
  @apply flex flex-row justify-between items-center rounded-3xl shadow-lg shadow-gray-600 px-10 py-5 max-sm:w-80 hover:scale-110 duration-300 h-fit font-semibold;
}

.project-tiles {
  @apply md:max-w-6xl h-[60vh] max-md:h-fit  flex flex-col lg:flex-row justify-center items-center px-8 py-10 rounded-3xl gap-10 hover:scale-105 duration-300;
}

.dark-theme {
  @apply bg-[#081B33] text-gray-100 transition duration-300;
}

.light-theme {
  @apply bg-[#f7fbff] text-gray-800 transition duration-300;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-black/25;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-xl;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
.github-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
